.a-reset {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.24);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.a-reset > h2 {
  margin-top: 0;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.a-reset > input {
  display: block;
  margin: 12px 0;
}

.a-reset > input:last-of-type {
  margin-top: 0;
}

@media (min-width: 996px) {
  .a-reset {
    margin: 40px auto;
    max-width: 660px;
    padding: 40px;
  }
}
