.a-intro {
  position: relative;
}

.a-intro__login {
  position: absolute;
  min-width: 200px;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  z-index: 2;
}

.a-intro__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.a-intro__images {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.a-intro__images__image {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
  height: 20%;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .a-intro__login {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 992px) {
  .a-intro__images {
    display: block;
  }

  .a-intro__images__image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .a-intro__shadow {
    box-shadow: inset 0 0px 490px 30px rgba(0,0,0,0.8);
  }

  /*
  a,b
  c,d
  */
  /* a / b / c / d / e */

  .a-intro__images__image:nth-child(5) {
    clip-path: polygon(0 0, 30% 0, 10% 100%, 0% 100%);
    background-position: center center;
  }
  .a-intro__images__image:nth-child(3) {
    clip-path: polygon(50% 0, 30% 0, 10% 100%, 30% 100%);
    background-position: 45% center;
  }
  .a-intro__images__image:nth-child(2) {
    clip-path: polygon(50% 0, 70% 0, 50% 100%, 30% 100%);
    background-position: 30% center;
  }
  .a-intro__images__image:nth-child(4) {
    clip-path: polygon(90% 0, 70% 0, 50% 100%, 70% 100%);
    background-position: -50% center;
  }
  .a-intro__images__image:nth-child(1) {
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 70% 100%);
    background-position: -85% center;
  }

  .a-intro__login {
    top: 140px;
  }
}
