.a-forgot-form {
  padding: 20px;
}

.a-forgot-form h3 {
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

.a-forgot-form p {
  text-align: justify;
}

.a-forgot-form input {
  display: block;
  width: 100%;
}

.a-forgot-form button {
  display: block;
  width: 100%;
}
