.a-category {
  position: relative;
  text-align: center;
}

.a-category:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  height: 2px;
  width: calc(100% - 40px);
  background-color: #fff;
}

.a-category > h1 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 40px 20px;
  color: #14d9fa;
  background-color: #202020;
  text-align: center;
  text-transform: uppercase;
  font-family: 'ua2018-font', Impact, sans-serif;
  letter-spacing: 2px;
  font-size: 28px;
  z-index: 2;
}

@media (min-width: 768px) {
  .a-category > h1 {
    font-size: 36px;
  }
}
