.a-validate {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.24);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
