
.header {
  padding-left: 0;
}

.logo {
  color: #fff;
  font-size: 24px;
  float: left;
  position: relative;
  top: -3px;
}

.logo > img {
  height: 65px;
}

.logo > span {
  margin-left: 15px;
}

table {
  border: 1px solid #e8e8e8;
  border-bottom: none;
}

.social-embed {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-embed > div {
  display: inline-block;
  margin: 20px;
}

.social-embed iframe {
  height: 700px;
  width: 500px;
  border: none;
}

.tabTitleName {
  font-size: small;
}
.tabTitleHero {
  font-size: smaller;
}

.flex-card {
  display: flex;
}
.flex-card-left {
  padding: 10px;
  flex-basis: 300px;
}

.flex-card-right {
  padding: 10px;
  flex-basis: 500px;
}
.cardName {
  padding-top: 5px;
  height: 36px;
  font-size: 0.85em;
  font-weight: 600;
  border-width: 0.5px;
  border-style: none none solid none;
}
.img-hs-Heroes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
}

.sender{
  max-width:50%;
  margin-left: 50%;
  margin-bottom: 10px;
}

.receiver{
  max-width:50%;
  margin-right: 50%;
  margin-bottom: 10px;
}
.custom-filter-dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
