html {
  background-color: #444;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'ua2018-font';
  letter-spacing: 0.8px;
  color: #fff;
}

strong.error {
  color: #e74c3c;
}

strong.success {
  color: #27ae60;
}

.notif__container {
  width: auto;
  left: unset;
  right: 10px;
}

.notif {
  width: 260px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
  color: #222;
}

.notif--danger {
  background-color: #e74c3c;
  color: #fff;
}

.notif-transition-enter {
  transform: translateX(calc(100% + 10px + 10%));
  transition: transform .2s ease-out;
}

.notif-transition-enter-active {
  transform: translateX(0);
}

/* react-select native input */
input[type="text"][role="combobox"] {
  box-shadow: none;
}

@media (min-width: 768px) {
  .ReactModal__Content {
    width: 360px !important;
  }
}

@font-face {
  font-family: 'ua2018-font';
  src: url('./assets/ua_2018.woff2') format('woff2'),
       url('./assets/ua_2018.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
