.a-intro-header {
  position: fixed;
  height: 60px;
  width: 100vw;
  max-width: 100%;
  top: 0;
  background-color: #202020;
  border-bottom: 3px solid #fff;
  z-index: 10;
}

.a-intro-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.a-intro-header__nav > div > .a-button {
  width: 100%;
  font-size: 18px;
  padding: 6px 24px;
}

.a-intro-header__nav > div:nth-child(2) {
  width: 160px;
}

.a-intro-header__nav > div:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-100% - 90px - 10px));
}

.a-intro-header__nav > div:nth-child(3) {
  position: absolute;
  left: 50%;
  transform: translateX(calc(90px + 10px));
}

.a-intro-header__nav > div:not(:nth-child(2)) > .a-button {
  display: none;
}

@media (min-width: 768px) {
  .a-intro-header__nav > div:nth-child(2) {
    width: 180px;
  }

  .a-intro-header__nav > div:not(:nth-child(2)) > .a-button {
    display: inline;
  }
}

@media (min-width: 768px) {
  .a-intro-header__nav > div > .a-button {
    font-size: 20px;
    padding: 4px 32px;
  }
}

@media (min-width: 992px) {
  .a-intro-header__nav > div > .a-button {
    font-size: 24px;
    padding: 4px 32px;;
  }
}
